# pip install -r requirements.txt 

# cases when you need to use gpu-support
#tensorflow-gpu==2.0.0-alpha0

# cases when you don't need to use gpu-support
tensorflow==2.0.0-alpha0
matplotlib
seaborn
pandas